.button {
  @include reset-btn;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(6deg, #ff0000 0%, #ff006c 100%);
  box-shadow: 0 5px 2px #980000;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  min-height: 75px;
  overflow: hidden;
  position: relative;

  @media (max-width: 650px) {
    font-size: 16px;
    min-height: 70px;
  }

  &_modal-form {
    max-width: 100%;
    display: block;
    margin-bottom: 8px;
  }

  &_present {
    display: none;

    @media (max-width: 650px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_calc {
    max-width: 100%;
  }

  &_line-form {
    max-width: 263px;
    font-size: 18px;
    display: block;

    @media (max-width: 650px) {
      font-size: 16px;
    }
  }

  &:hover {
    background-image: linear-gradient(6deg, #da0048 0%, #ff8a00 100%);
  }

  &:active {
    background-image: linear-gradient(6deg, #ff9600 0%, #da0048 100%);
    box-shadow: 0 2px 2px #980000;
    top: 3px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
