.direct {
  padding-top: 85px;
  padding-bottom: 490px;
  @include bg;
  background-image: url('/src/img/bgs/direct-bg.jpg');
  color: white;

  @media (max-width: 1150px) {
    padding-bottom: 50px;
  }

  @media (max-width: 991px) {
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.direct__title {
  @include title;
  text-align: center;
  color: white;
  margin-bottom: 39px;
  font-size: 40px;

  @media (max-width: 1035px) {
    br {
      display: none;
    }
  }

  span {
    color: #9ee708;
  }
}

.direct__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;

  @media (max-width: 1150px) {
    margin-bottom: 30px;
  }
}

.direct__item {
  @include max-width(345px);
  min-height: 320px;
  border: 1px solid rgba(#9ee708, 0.25);
  border-radius: 15px;
  padding-bottom: 23px;
  position: relative;

  &::after {
    position: absolute;
    bottom: -6px;
    right: 21px;
    font-size: 100px;
    font-weight: bold;
    color: rgba(158, 231, 8, 0.2);
  }

  &:nth-child(1) {
    .direct__item-title::before {
      left: 32px;
    }
  }

  &:nth-child(2) {
    .direct__item-title::before {
      left: 32px;
    }
  }

  &:nth-child(3) {
    .direct__item-title::before {
      left: 32px;
    }
  }

  &:nth-child(6) {
    .direct__item-title::before {
      left: 25px;
    }
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      .direct__item-title::before {
        content: url('/src/img/icons/direct/#{$i}.png');
      }
    }
    &:nth-child(#{$i}) {
      &::after {
        content: '#{$i}';
      }
    }
  }

  @media (max-width: 650px) {
    min-height: auto;
  }
}

.direct__item-title {
  height: 100px;
  background-color: #ffffff;
  padding-left: 104px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  position: relative;

  &::before {
    position: absolute;
    left: 20px;
    top: 54%;
    transform: translateY(-50%);
  }

  @media (max-width: 650px) {
    margin-bottom: 20px;
    height: 80px;
  }
}

.direct__item-text {
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 0;

  @media (max-width: 650px) {
    font-size: 18px;
  }
}
