.help {
  padding-top: 74px;
  padding-bottom: 80px;

  @media (max-width: 991px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.help__title {
  @include title;
  text-align: center;
  max-width: 831px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }

  @media (max-width: 650px) {
    br {
      display: none;
    }

    margin-bottom: 25px;
  }

  span {
    color: #78c513;
  }
}

.help__content {
  border-radius: 15px;
  background-image: linear-gradient(to right, #006b77, #009067);
  margin-bottom: 50px;

  @media (max-width: 650px) {
    margin-bottom: 25px;
  }
}

.help__item {
  position: relative;
}

.help__item-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  background-color: white;
  mix-blend-mode: overlay;
  opacity: 0.15;
}

.help__item-content {
  padding-top: 45px;
  padding-right: 80px;
  padding-left: 270px;
  padding-bottom: 50px;
  position: relative;

  @media (max-width: 845px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 140px;
  }

  @media (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 100px;
  }

  &::before {
    left: 20px;
    top: 48px;
    position: absolute;
    content: url('/src/img/we.png');

    @media (max-width: 845px) {
      top: 20px;
    }

    @media (max-width: 650px) {
      left: 0;
      zoom: 0.7;
    }
  }

  &_you::before {
    content: url('/src/img/you.png');
  }
}

.help__item-title {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;

  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.help__item-text-box {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  display: none;

  @media (max-width: 650px) {
    font-size: 18px;
  }

  & > * + * {
    margin-top: 18px;
  }
}

.help__more-btn {
  @include reset-btn;
  border: solid 2px #a2de05;
  min-height: 43px;
  padding-left: 20px;
  padding-right: 50px;
  position: relative;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 300px;

  @media (max-width: 650px) {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &::after {
    content: url('/src/img/arrow-down.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    transition: transform 0.5s;
  }

  &_opened {
    &::after {
      transform: rotate(180deg) translateY(36%);
    }
  }
}
