.offer {
  padding-top: 160px;
  padding-bottom: 80px;

  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.offer__title {
  @include title;
  margin-bottom: 41px;
  text-align: center;

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  @media (max-width: 650px) {
    margin-bottom: 25px;
  }

  span {
    color: #9ee708;
  }
}

.offer__content {
  display: flex;
  justify-content: space-between;
  gap: 137px;

  @media (max-width: 860px) {
    gap: 50px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 15px;
  }
}

.offer__tab-list {
  @include reset-list;
  max-width: 272px;
  padding-top: 48px;
  position: relative;
  flex-shrink: 0;

  &::after {
    content: url('/src/img/offer-bg.jpg');
    position: absolute;
    right: -88px;
    top: 0px;
    z-index: -1;

    @media (max-width: 860px) {
      right: -25px;
    }

    @media (max-width: 650px) {
      content: '';
      width: 650px;
      height: 180px;
      @include bg;
      background-image: url('/src/img/offer-bg.jpg');
      @include central-align;
    }
  }

  @media (max-width: 650px) {
    max-width: 100%;
    padding-top: 0px;
  }

  * + * {
    margin-top: 20px;

    @media (max-width: 650px) {
      margin-top: 5px;
    }
  }
}

.offer__tab-item {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgba(white, 0.25);
  cursor: pointer;

  @media (max-width: 650px) {
    font-size: 14px;
    br {
      display: none;
    }
  }

  &_active {
    color: #a2de05;
    text-decoration: none;
  }
}

.offer__text-box {
  flex: 1 1 720px;

  & > * + * {
    margin-top: 15px;
  }

  @media (max-width: 650px) {
    flex-basis: auto;
  }
}

.offer__text {
  font-size: 20px;
  margin-bottom: 0;
}

.offer__list {
  @include reset-list;

  * + * {
    margin-top: 20px;

    @media (max-width: 650px) {
      margin-top: 10px;
    }
  }
}

.offer__item {
  @media (max-width: 650px) {
    font-size: 16px;
  }
}
