@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/footer.scss';
@import './components/priv-policy.scss';

.thanks {
  background-image: url('/src/img/bgs/print-bg.png');
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.thanks__link {
  width: 307px;
  height: 97px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include bg;
  background-image: url('/src/img/icons/logo.svg');
  margin-bottom: 45px;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }

  @media (max-width: 650px) {
    width: 240px;
    height: 76px;
  }
}

.thanks__title {
  @include max-width(800px);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }

  @media (max-width: 650px) {
    font-size: 24px;
  }

  span {
    color: #78c513;
  }
}

.thanks__text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 38px;
  font-weight: 500;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }

  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.thanks__time-title {
  font-weight: bold;
  margin-bottom: 12px;
  padding-left: 16px;

  @media (max-width: 767px) {
    padding-left: 0;
  }

  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.thanks__time-box {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    font-size: 16px;
  }
}

.thanks__time-left {
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 38px;
  border-right: solid 1px rgba(#000, 0.2);
  width: 50%;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 25px;
  }

  @media (max-width: 650px) {
    width: 100%;
    border-right: 0px;
    margin-bottom: 10px;
  }
}

.thanks__time-right {
  padding-left: 38px;
  padding-right: 38px;
  margin-bottom: 0;
  width: 50%;

  @media (max-width: 991px) {
    br {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 25px;
  }

  @media (max-width: 650px) {
    width: 100%;
    padding-left: 0;
  }
}

.thanks__links-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  border: 1px solid #00515a;
  border-radius: 15px;
  margin-bottom: 50px;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.thanks__link-text {
  font-size: 30px;
  font-weight: bold;
  @include max-width(496px);
  margin-left: auto;
  text-align: right;
  margin-bottom: 0;
  padding-right: 38px;
  padding-left: 38px;
  width: 50%;

  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 25px;
    font-size: 20px;
  }

  @media (max-width: 650px) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.thanks__list {
  @include reset-list;
  padding-left: 38px;
  padding-right: 38px;
  border-left: solid 1px rgba(#000, 0.2);
  width: 50%;

  @media (max-width: 767px) {
    padding-right: 10px;
    padding-left: 25px;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.thanks__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  gap: 40px;

  @media (max-width: 991px) {
    gap: 25px;
  }

  &:last-child {
    margin-bottom: 0;

    .thanks__item-link {
      width: 47px;
      height: 48px;
      background-image: url('/src/img/icons/site.png');
    }
  }
}

.thanks__item-link {
  width: 45px;
  height: 45px;
  @include bg;
  background-image: url('/src/img/icons/insta.png');
}

.thanks__item-text {
  margin-bottom: 0;

  @media (max-width: 1100px) {
    width: 75%;
  }
}

.thanks__note {
  min-height: 169px;
  @include bg;
  background-position-x: left;
  background-image: url('/src/img/bgs/thanks-note-bg.jpg');
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 0;

  span {
    padding-left: 5px;
    color: #9ee708;

    @media (max-width: 650px) {
      padding-left: 0;
    }
  }

  @media (max-width: 650px) {
    font-size: 20px;
    flex-direction: column;
    min-height: 125px;
  }
}
